In [ ]:
print(chr(64))

@

In [ ]:
a="cn"
print(a)

cn

In [ ]:
a="cn"

In [ ]:
print("hello")

hello

In [ ]:
print(chr(41))

)

In [ ]:
payment_of_oneday=450
date_of_working=28
total_salary=payment_of_oneday*date_of_working
print(total_salary)

12600

In [ ]:
x,y,z="apple","pinapple","mango"
print(x,y,z)

apple pinapple mango

In [ ]:
a="apple"#fruits
b="pinapple"
c="mango"
print(a,b,c)

apple pinapple mango

In [ ]:
x=("1,2,3,4,5")
print(type(x))

<class 'str'>

In [ ]:
x="hello python"
y=123
z=1.23
a=True
b="1234"
print(x,y,z,a,b)

hello python 123 1.23 True 1234

In [ ]:
print(type(b))

<class 'str'>

In [ ]:
print(type(z))

<class 'float'>

In [ ]:
x=1.23
print(x)
print(int(x))

1.23
1

In [ ]:
x=("hello")
y=("python")
print(x+y)

hellopython

In [ ]:
x=1234
y="4567"
z=str(x)
a=y+z
print(a)

45671234

In [ ]:
a="1234567"
print(a[1:6:2])

246

# string

In [ ]:
x="array"
print(x[3])

a

In [ ]:
x="you are my hero"
print(x[1:8])#start:stop

ou are

In [ ]:
x="you are my hero"
print(x[1:8:2])#start:stop:skip

o r

In [ ]:
x="hello my dear"
print(x[-5:-2])

 de

In [ ]:
print("hello python")

hello python

In [ ]:
text="hello,lets start study"#in keyword
print("hello" in text)

True

In [ ]:
voice="this is an automated voice by siri"#not in keyword
print("hello" not in voice)

True

In [ ]:
word="hello python"#convert upper case
print(word.upper())

HELLO PYTHON

In [ ]:
word="HELLO PYTHON"#convert lower case
print(word.lower())

hello python

In [ ]:
a="  hello my dear   "#remove white space
print(a.strip())

hello my dear

In [ ]:
a="hello,word"#replace the value
print(a.replace("h","j"))

jello,word

In [ ]:
a="hello ,word"#split
print(a.split(","))

['hello ', 'word']

In [ ]:
a="hello"#concatination
b="python"
c=a+b
print(c)

hellopython

In [ ]:
age=36 #concatinate two words ,that has different datatype
txt="my name is john,i am"+ age
print(txt)

TypeError: can only concatenate str (not "int") to str

In [ ]:
age=36 #concatination of two different datatype
txt="my name is john,i am {}"
print(txt.format(age))

my name is john,i am 36

In [ ]:
txt="you are my \"super\" hero"#for highlite some word
print(txt)

you are my "super" hero

In [ ]:
print(10==10)#boolean
print(10<9)

True
False

In [ ]:
print(bool("hrllo"))

True

In [ ]:
print(bool(0))

False

In [ ]:
a=5
a+=5
a=a+5
print(a)

10

In [ ]:
x=12;y=20#arithemetic oprator +
print(x+y)

32

In [ ]:
x=12;y=2
print(x**y)

144

In [ ]:
x=5
y=10
print(x>4 and y<12)

True

# LIST

In [ ]:
fruits=["banana","apple","orange"]#list
print(fruits)

['banana', 'apple', 'orange']

In [ ]:
fruits=["banana","apple","pinapple"]# acsses a specific one from back side
print(fruits[-1])

pinapple

In [ ]:
fruits=["banana","apple","pinapple","orange","blueberry"]#slicing
print(fruits[2:4])

['pinapple', 'orange']

In [ ]:
fruits=["banana","apple","pinapple","orange","blueberry"]#changing
fruits[2]="kiwi"
print(fruits)

['banana', 'apple', 'kiwi', 'orange', 'blueberry']

In [ ]:
fruits=["banana","apple","pinapple","orange","blueberry"]#insert
fruits.insert(2,"mango")
print(fruits)

['banana', 'apple', 'mango', 'pinapple', 'orange', 'blueberry']

In [ ]:
fruits=["banana","apple","pinapple","orange","blueberry"]#append
fruits.append("pappaya")
print(fruits)

['banana', 'apple', 'pinapple', 'orange', 'blueberry', 'pappaya']

In [ ]:
fruits=["banana","apple","pinapple","orange","blueberry"]#combaine two list
fruit=["mango","pappaya"]
fruits.extend(fruit)
print(fruits)

['banana', 'apple', 'pinapple', 'orange', 'blueberry', 'mango', 'pappaya']

In [ ]:
fruits=["banana","apple","pinapple","orange","blueberry"]#remove one item in list
fruits.remove("apple")
print(fruits)

['banana', 'pinapple', 'orange', 'blueberry']

In [ ]:
fruits=["banana","apple","pinapple","orange","blueberry"]#pop (remove a perticular item)
fruits.pop(1)
print(fruits)

['banana', 'pinapple', 'orange', 'blueberry']

In [ ]:
fruits=["banana","apple","pinapple","orange","blueberry"]#del (remove perticular item from list item)
del fruits[1]
print(fruits)

['banana', 'pinapple', 'orange', 'blueberry']

In [ ]:
fruits=["banana","apple","pinapple","orange","blueberry"]#clear all items from list
fruits.clear()
print(fruits)

[]

In [ ]:
fruits=["banana","apple","pinapple","orange","blueberry"]#copy a list into another variable
myfruits=fruits.copy()
print(fruits)

['banana', 'apple', 'pinapple', 'orange', 'blueberry']

# TUPLES

In [ ]:
colour=("red","orange","black")
print(colour)

('red', 'orange', 'black')

In [ ]:
colour=("red","orange","green")#length
print(len(colour))

3

In [ ]:
x=("red","black","blue","green")# tuple cannot be change ..so we convert into list and make changes then convert back to tuple
y=list(x)
y[2]="orange"
x=tuple(y)
print(x)

('red', 'black', 'orange', 'green')

In [ ]:
colour=("red","black","blue","green")
(a,b,c,d)=colour
print(d)

green

# SETS

In [ ]:
colour=("red","black","blue","green")
print(colour)

{'red', 'orange', 'black'}

In [ ]:
x={"red","black","blue","green"}#in
print("blue" in x)

True

In [ ]:
x={"red","black","blue","green"}#add
x.add("orange")
print(x)

{'orange', 'black', 'blue', 'red', 'green'}

In [ ]:
colour={"red","black","blue","green"}#update (combaine two list)
mycolour=["orange","pink"]
colour.update(mycolour)
print(colour)

{'orange', 'black', 'blue', 'pink', 'red', 'green'}

In [ ]:
colour={"red","pink","black"}
colour.remove("red")
print(colour)

{'pink', 'black'}

In [ ]:
colour={"red","pink","black"}
colour.clear()
print(colour)

set()

In [ ]:
colour={"red","pink","black"}
x=colour.pop()
print(colour)

{'pink', 'black'}

In [ ]:
set1={"a","b","c"}#union
set2={"v","x"}
set3=set1.union(set2)
print(set3)

{'c', 'a', 'b', 'v', 'x'}

In [ ]:
set1={"a","b","c"}#update
set2={"v","x"}
set1.update(set2)
print(set1)

{'c', 'v', 'b', 'x', 'a'}

In [ ]:
x={"apple","banana","mango"}#intersection
y={"google","microsoft","apple"}
x.intersection_update(y)
print(x)

{'apple'}

In [ ]:
x={"apple","banana","mango"}#intersection
y={"google","microsoft","apple"}
z=x.intersection(y)
print(z)

{'apple'}

In [ ]:
x={"apple","banana","mango"}#difference
y={"google","microsoft","apple"}
x.symmetric_difference_update(y)
print(x)

{'microsoft', 'google', 'banana', 'mango'}

In [ ]:
x={"apple","banana","mango"}#difference
y={"google","microsoft","apple"}
z=x.symmetric_difference(y)
print(z)

{'microsoft', 'google', 'banana', 'mango'}

# FROZENSET

In [ ]:
nu=(1,2,3,4,5,6,7,8)#freeze items
num=frozenset(nu)
print("frozenset object:",num)

frozenset object: frozenset({1, 2, 3, 4, 5, 6, 7, 8})

# DICTIONARIES

In [ ]:
cars={"brand":"BMW",  #key:value
      "model":"2nd series",
      "year":"2015"}
print(cars)

{'brand': 'BMW', 'model': '2nd series', 'year': '2015'}

In [ ]:
cars={"brand":"BMW",
      "model":"2nd series",
      "year":"2015"}
x=cars.get("model")# featching item
print(x)

2nd series

In [ ]:
cars={"brand":"BMW",
      "model":"2nd series",
      "year":"2015"}
x=cars.keys()#featching keys
print(x)

dict_keys(['brand', 'model', 'year'])

In [ ]:
cars={"brand":"BMW",
      "model":"2nd series",
      "year":"2015"}
x=cars.values()#featching values
print(x)

dict_values(['BMW', '2nd series', '2015'])

In [ ]:
cars={"brand":"BMW",
      "model":"2nd series",
      "year":"2015"}
x=cars.items()# list all items(keys,values)
print(x)

dict_items([('brand', 'BMW'), ('model', '2nd series'), ('year', '2015')])

In [ ]:
cars={"brand":"BMW",
      "model":"2nd series",
      "year":"2015"}
cars["year"]=2018#changing values
print(cars)

{'brand': 'BMW', 'model': '2nd series', 'year': 2018}

In [ ]:
cars={"brand":"BMW",
      "model":"2nd series",
      "year":"2015"}
cars.pop('year')#pop an item
print(cars)

{'brand': 'BMW', 'model': '2nd series'}

In [ ]:
cars={"brand":"BMW",  #key:value
      "model":"2nd series",
      "year":"2015"}
del cars["model"]#del an item
print(cars)

{'brand': 'BMW', 'year': '2015'}

In [ ]:
cars={"brand":"BMW",  #key:value
      "model":"2nd series",
      "year":"2015"}
cars.clear()#clear all items
print(cars)

{}

In [ ]:
cars={"brand":"BMW",  #key:value
      "model":"2nd series",
      "year":"2015"}
newcars=dict(cars)#dict values(same as copy)
print(newcars)

{'brand': 'BMW', 'model': '2nd series', 'year': '2015'}

In [ ]:
cars={"brand":"BMW",  #key:value
      "model":"2nd series",
      "year":"2015"}
newcars=cars.copy()#copy values to another variable
print(newcars)

{'brand': 'BMW', 'model': '2nd series', 'year': '2015'}

## NESTED DICTIONARIES

In [ ]:
friends={
    "child1":{"name":"arun","age":"20"},
    "child2":{"name":"vinu","age":"23"},
    "child3":{"name":"amal","age":"22"},
}
print(friends)

{'child1': {'name': 'arun', 'age': '20'}, 'child2': {'name': 'vinu', 'age': '23'}, 'child3': {'name': 'amal', 'age': '22'}}

In [ ]:
child1={"name":"arun","age":"20"}#add 3 separate dictionaries into one single dictionary
child2={"name":"vinu","age":"23"}
child3={"name":"anu","age":"22"}
friends={"child1":child1,
         "child2":child2,
         "child3":child3}
print(friends)

{'child1': {'name': 'arun', 'age': '20'}, 'child2': {'name': 'vinu', 'age': '23'}, 'child3': {'name': 'anu', 'age': '22'}}

# CONDITIONAL STATEMENTS

## IF STATEMENT

In [ ]:
a=33 #if statements
b=200
if b>a:
  print("b is greater than a")

b is greater than a

## ELIF STATEMENT

In [ ]:
a=200 #elif statements
b=200
if b<a:
  print("b is greater than a")
elif b==a:
  print("both are equal")

both are equal

## ELSE STATEMENT

In [ ]:
a=20
b=30
if a>b:
  print("a is greater than b")
elif a==b:
  print("a and b is equal")
else:
  print("a is less than b ")

a is less than b

## AND

In [ ]:
a=20
b=30
c=40
if a<b and b<c:
  print("both conditions are true")

both conditions are true

## OR

In [ ]:
a=20
b=30
c=40
if a<b or b>c:
  print("atleast one condition is true")

atleast one condition is true

## NESTED IF

In [ ]:
x=200
if x>100:
  print("above 100")
  if x<100:
    print("below 100")
else:
    print("not above 100")

above 100

## PASS

In [ ]:
a=19 #pass is used to hide outputs
b=44
if a>b:
  pass

## questions

### grade calculation

In [ ]:
mark=int(input("enter your mark:"))
if mark>=90:
  print("your grade A+")
elif mark>=80:
  print("your grade B+")
elif mark>=70:
  print("your grade C+")
elif mark>=60:
  print("your grade D+")
elif mark>=50:
  print("your grade E+")
else:
  print("fail")

enter your mark: 80
your grade B+

### odd or even number

In [ ]:
number=int(input("enter your number:"))
if number%2==0:
  print("number is even")
else:
  print("number is odd")

enter your number:77
number is odd

### positive,negative,zero

In [ ]:
number=int(input("enter your number:"))
if number>0:
  print("positive")
elif number<0:
   print("negative")
else:
   print("zero")

enter your number:8
positive

### Check Divisibility by 3 and 5

In [ ]:
number=int(input("enter your number: "))
if number%3==0 and number%5==0:
 print(" number is divisible")
else:
  print(" number is not divisible")

KeyboardInterrupt: Interrupted by user

### Largest of Three Numbers

In [ ]:
num1=int(input("enter your first number: "))
num2=int(input("enter your second number: "))
num3=int(input("enter your thrid number: "))
if num1>num2 and num1>num3:
  print("largest number is",num1)
elif num2>num1 and num2>num3:
  print("largest number is",num2)
elif num3>num1 and num3>num2:
   print("largest number is",num3)

### leap year check

In [ ]:
year=int(input("enter a year: "))
if (year%4==0 and year%100!=0) or year%400==0:
  print("it's a leap year")
else:
  print("it's not a leap year")

### Vowel or Consonant

In [ ]:
alphabet=(input("enter a character: "))
if alphabet in "aeiou":
  print("it's a vowel")
else:
  print("it's a consonant")

###Nested If Example  Year Classification

In [ ]:
year=int(input("enter a year: "))
if year%4==0:
  if year%100!=0:
   print("it's a leap year",year)
elif year%400==0:
 print("it's a leap year",year)
else:
 print("it's not a leap year",year)

### Password Validation

In [ ]:
p="2345"
password=(input("enter your password: "))
if password==p:
  print("signed")
elif password!=p:
  print("try again")

In [ ]:
user_id="greeshma"
pass_word="12345"
userid=(input("enter userid: "))
password=(input("enter password: "))
if userid==user_id and password==pass_word:
  print("successfuly loged")
elif userid!=user_id and password==pass_word:
  print("incorrect userid")
elif userid==user_id and password!=pass_word:
  print("incorrect password")
elif userid!=user_id and password!=pass_word:
   print("try again")

enter userid: jhgdjksdhg
enter password: 12345
incorrect userid

In [ ]:
user_id="greeshma"
pass_word=12345
balance=5000
userid=(input("enter userid: "))
password=int(input("enter password: "))
if user_id==userid and pass_word==password:
  amount=int(input("enter amount: "))
  if amount>=balance:
    print("insufficiant balance")
  elif amount<=0:
    print("enter proper amount!")
  else:
    print(f"sucessfully withdrawed {amount} and balance is {balance-amount} ")

elif password!=pass_word and userid!=user_id:
  print("both are wrong")
elif password!=pass_word:
  print("password wrong")
else:
  print("user name is wrong")

In [ ]:
number1=int(input(" number1 : "))
operator=(input("operator : "))
number2=int(input(" number1 : "))
if operator=="+":
  print("answer is: ",number1+number2)
elif operator=="-":
  print("answer is: ",number1-number2)
elif operator=="/":
  print("answer is: ",number1/number2)
elif operator=="*":
  print("answer is: ",number1*number2)

# LOOPING STATEMENT

## WHILE LOOP

In [ ]:
a=[1,2,3,4,5]
while a:
  print(a.pop())

In [ ]:
a=[1,2,3,4,5]
while a:
  print(a)

In [ ]:
i=0
while i<4:
  i=i+1
  print(i)

In [ ]:
i=5
while i>0:
 i=i-1
 print(i)

In [ ]:
a='loop in statement' #pass
i=0

while i<len(a):
  i=i+1
  pass
print('value of i:',i)

In [ ]:
i=0 #continue
a='loops in python'
while i<len(a):
 if a[i]=='e' or a[i]=='s':
    i+=1
    continue
 print('current letter i:',a[i])
 i+=1

In [ ]:
i=0 #break
a='loops in python'
while i<len(a):
 if a[i]=='p' or a[i]=='y':
    i+=1
    break
 print('current letter i:',a[i])
 i+=1

In [ ]:
i=0 #while else
while i<4:
  i=i+1
  print(i)
else:
  print("no break\n")

In [ ]:
i=0 #while else
while i<4:
  i=i+1
  print(i)
  break
else:
  print("no break\n")

## FOR LOOP

In [ ]:
l=["hello","for","python"]#list iteration
for i in l:
 print(i)

In [ ]:
t=("hello","for","python")# tuple iteration
for i in t:
  print(i)

In [ ]:
for x in 'python developer':
  if x=='e' or x=='o':
     continue
  print('current letter:',x)

In [ ]:
for x in 'python developer':#break
  if x=='o'or x=='e':
    break
  print('current letter:',x)

In [ ]:
for x in 'python developer':
   pass
print("last letter:",x)

In [ ]:
for i in range(10):
  print (i,end="      ")

In [ ]:
l=[10,11,12,13,14]
for i in range(len(l)):
  print(l[i],end=" ")

In [ ]:
for i in range(1,10,2):
  print(i)

In [ ]:
for i in range (0,50,2):
  print(i)

In [ ]:
for i in range (1,50,2):
  print(i)

## NESTED LOOP

In [ ]:
adj=["red","big","tasty"]
fruits=["apple","orange","banana"]
for x in adj:
  for y in fruits:
    print(x,y)

# questions

## Print numbers from 1 to 10

In [ ]:
for i in range(1,11):
  print(i)

## Print even numbers between 1 and 20

In [ ]:
for i in range(0,20,2):
 print(i)

## Print the multiplication table of 5

In [ ]:
number=5
for x in range(1,11):
  print(f"{number}*{x}={number*x}")

## Print each character in a string

In [ ]:

string="greeshma"
for x in string:
  print(x)

## calculate the sum of numbers from 1 to 100

In [ ]:
sum=0
for x in range(1,101):
    sum+=x
print(sum)

## print all elements in a list

In [ ]:
l=["apple","is", "red","colour"]
for i in l:
  print(i)

## count the numbers of vowels in a string

In [ ]:
i="apple is red colour fruit"
l="aeiou"
sum=0
for x in i:
   if x in l:
    sum+=1
print(sum)

## print the square of numbers from 1 to 10

In [ ]:
for x in range(1,11):
  print(f"{x}*{x}={x*x}")

##print elements in reverse from a list

In [ ]:
x=["hello","apple","banana"]
for i in range(len(x)):
 print(x.pop())

## print the factorial of a number using for loop

In [ ]:
sum=1
for x in range(1,6):
    sum*=x
print(sum)

## find the largest number in a list

In [ ]:
t=[1,4,7,5,7,9,89,78,89,45]
largest=0
for x in t:
  if x>largest:
    largest=x
print(largest)

##find the smallest bumber in a list

In [ ]:
t=[66,88,94,13,22]
smallest=10000000
for x in t:
  if x<smallest:
    smallest=x
print(smallest)

## perfect number

In [ ]:
sum=0
num1=int(input("enter number : "))
for x in range(1,num1):
 if num1%x==0:
  sum+=x
if num1==sum:
  print("it's a perfect number")
else:
  print("its not a perfect number")

enter number : 4
its not a perfect number

## prime number

In [ ]:
num1=int(input("enter number :"))
for x in range(2,num1):
  if num1%x==0:
    print("it's not a prime number")
    break
else:
  print("it's a prime number")

## printing all the prime numbers

In [ ]:
num1=int(input("enter numbers :"))
for x in range(2,num1+1):
  for i in range(2,x):
    if x%i==0:
      break
  else:
     print(x,"")

## print a triangle of stars

In [ ]:
row1=int(input("enter rows :"))
for i in range(1,row1+1):
   print("*"*i)

## remove duplicate element in a list

In [ ]:
duplicate=[1,2,2,4,5,6,7]
original=[]
for i in duplicate:
  if i not in original:
    original.append(i)
print(original)

## print a number pyramid

In [ ]:
num=5
for i in range (1,num+1):
  for x in range (1,i+1):
   print(x, end=" ")
  print()

#PYTHON FUNCTIONS

In [ ]:
def hello():
  print("welcome")
hello()

In [ ]:
def evenorodd(x):
  if x%2==0:
    print("even")
  else:
    print("odd")
evenorodd(8)
evenorodd(99)
evenorodd(12)

In [ ]:
def myfun(a,b=15): #default argument
  print("a : ",a)
  print("b : ",b)
myfun(10)

In [ ]:
def student(firstname,lastname): #to demonstrate keyword arguments
  print(firstname,lastname)
student(firstname='greeshma',lastname='krishnan')
student(firstname='adithya',lastname='vs')

In [ ]:
def my_friends(*kids): # arbitary argument
 print("my friends are",kids[3])
my_friends("anu","ammu","kichu","vidhu","manu")

In [ ]:
def myarguments(*argv):# to use all arguments show
  for x in argv:
    print(x)
myarguments('hello','welcome','home')

In [ ]:
def my_function(**student): #arbitrary keyword argument
  print("first name is "+student["fname"])
my_function(fname="greeshma")

In [ ]:
def my_home(**kk):
 for i,value in kk.items():
   print(f"{i}:{value}")
my_home(name="radhu",age=64)
my_home(name="radhu",age=54)

In [ ]:
def my_function(fruits="banana"): #default parameter value
  print("i love "+fruits)
my_function("apple")
my_function("orange")
my_function()
my_function("blue burry")

In [ ]:
def my_fruits(xyz):# passing a list of arguments
  for x in xyz:
    print(x)
fruits=["apple","banana"]
my_fruits(fruits)

In [ ]:
def my_number(x): #return
 return(x**2)
print(my_number(2))
print(my_number(4))
print(my_number(6))

In [ ]:
def f1(): # function within a function
 s='i love python'
 def f2():
  print(s)
 f2()
f1()

i love python

In [ ]:
def numberA(x): #lambda
   return x*x*x
g=lambda y:y*y*y*y
print(g(7))
print(numberA(2))

In [ ]:
def power(n):
  return lambda a:a**n
base=power(2)
print("now power is set to 2")
print("6 power of 2=",base(6))
base=power(5)
print("now power is set to 5")
print("8 power of 5=",base(8))

In [ ]:
a=[100,2,8,60,5,4,3,31,10,11]
filtered=filter(lambda x:x%2==0,a)
print(list(filtered))
maped=map(lambda x:x%2==0,a)
print(list(maped))

In [ ]:
def myfunction():#global and local variables
  s="me too"
  print(s)
x="i love python"
myfunction()
print(x)

In [ ]:
a=1
def f():
  print('inside f():',a)
def g():
  a=2
  print('inside g():',a)
def h():
  global a
  a=3
  print('inside g():',a)


print('global:',a)
f()
print('global:',a)
g()
print('global:',a)
h()
print('global:',a)

In [ ]:
def shout(text): # (function nu object cerate cheyyunnu)
  return text.upper()
print(shout('hello'))
yell=shout
print(yell('hello'))

In [ ]:
def shout(text):
  return text.upper()
def whisper(text):
  return text.lower()
def greet(func):
  greeting=func("""hi, i am created by a function passed as an argument""")
  print(greeting)
greet(shout)
greet(whisper)

In [ ]:
def create_adder(x):
  def adder(y):
    return x+y
  return adder
add_15=create_adder(15)
print(add_15(10))

## RECURSIVE FUNCTION

In [ ]:
def fact(x):
  if x==1:
    return 1
  else:
    return(x*fact(x-1))
num=4
print("the factorial of",num,"is",fact(num))

# questions

## Write a function to add two numbers

In [ ]:
def add(a,b):
  print(a+b)
add(5,7)

## Write a function to check whether a number is even or odd

In [ ]:
def num(a):
 if a%2==0:
   print("even")
 else:
   print("odd")
num(8)

even

## write a function to return the factorial of a number

In [ ]:
def num(a):
  sum=1
  for a in range(1,a):
    sum*=a
  print(sum)
num(7)

## write a function to find the maximum of three numbers

In [ ]:
def num(a,b,c):
  if a>b and a>c:
    print("largest num is",a)
  if b>a and b>c:
    print("largest num is",b)
  if c>a and c>b:
    print("largest num is",c)
num(98,1025,789)

## write a function to check whether a number is prime

In [ ]:
def num(a):
  for x in range (2,a):
    if a%x==0:
      print("it is not a prime number")
      break
  else:
      print("it is a prime number")
num(89)

## write a function to print the multiplication table of a number

In [ ]:
def num(a):
 for x in range (1,11):
  print(f"{x} x {a} = {x*a}")
num(6)

## write a function to check whether a given string or number is a palindrome

In [ ]:
def pali(a):
   if a[::-1]==a:
    print("its palindrome")
   else:
    print("its not palindrome")
pali("greeshma")

## write a function to return the squsre of a number

In [ ]:
def num(a):
 return a**2
num(8)

## write a function that takes a name as input and prints a greeting

In [ ]:
def name(a):
  print("Hi,Good Morning ",a)
  print("Welcome to this page...")
name("Greeshma krishnan")

# CLASS & OBJECTS

In [ ]:
class phone:  # class name is 'phone'
  def make_call(self):  #self parameter
    print("lets make a phone call")
  def play_game(self): # method is 'play_game' and 'make_call'
    print("lets play a game")

In [ ]:
p1=phone() #makeing object

In [ ]:
p1.make_call() # call methods
p1.play_game()

In [ ]:
class phone:  # class name is 'phone'
  def make_call(self):  #self parameter
    print("lets make a phone call")
  def play_game(self): # method is 'play_game' and 'make_call'
    print("lets play a game")
  def set_color(self,color): # adding new paramters
    self.color=color
  def set_cost(self,cost):
    self.cost=cost
  def show_color(self):
    return self.color
  def show_cost(self):
    return self.cost

In [ ]:
p2=phone() # making another object

In [ ]:
p2.set_color('blue')

In [ ]:
p2.set_cost(4000)

In [ ]:
p2.show_color()

In [ ]:
p2.show_cost()

In [ ]:
p3=phone()

In [ ]:
p3.set_color('red')

In [ ]:
p3.show_color()

In [ ]:
class employee:
  def __init__(self,name,age,salary,gender):
    self.name=name
    self.age=age
    self.salary=salary
    self.gender=gender

  def employee_details(self):
    print("name of employee is ",self.name )
    print("age of employee is ",self.age )
    print("salary of employee is ",self.salary )
    print("gender of employee is ",self.gender )

In [ ]:
e1=employee("sam",19,15000,"female")

In [ ]:
e1.employee_details()

In [ ]:
e1=employee("ammu",21,18000,"female")

In [ ]:
e1.employee_details()

In [ ]:
e1=employee("priya",21,46000,"female")

In [ ]:
e1.employee_details()

In [ ]:
class character:
  def __init__(self,health,damage,power):
    self.health=health
    self.damage=damage
    self.power=power

ninja= character(100,30,90)
warrior= character(200,40,95)
print("power of ninja:", ninja.power)
print("health of ninja:",ninja.health)

In [ ]:
class character:
  def __init__(self,health,damage,power):
    self.health=health
    self.damage=damage
    self.power=power

  def double(self):
    self.power=self.power*2
    self.damage=self.damage*3

ninja= character(100,30,90)
warrior= character(200,40,95)
print("power of ninja:", ninja.power)
print("health of ninja:",ninja.health)
ninja.double()
print("after doubling the power")
print("power of ninja:",ninja.power)
print("damage of ninja:",ninja.damage)

In [ ]:
class character:
  def __init__(self,name,health,damage,power):
    self.name=name
    self.health=health
    self.damage=damage
    self.power=power

  def hai(self):
   print("hello i am", self.name)
  def is_alive(self):
   if self.health <=0:
     print(self.name,"is dead!")
   else:
     print(self.name,"is alive!")

  def player_details(self):
   print("....."*5)
   print("name of player is :",self.name)
   print("health of player is :",self.health)
   print("damage of player is :",self.damage)
   print("power of player is :",self.power)
   print()

ninja=character("ninja",100,30,90)
warrior=character("warrior",200,40,95)

ninja.hai()
ninja.health=0
print("health of ninja:",ninja.health)
ninja.is_alive()
warrior.is_alive()

warrior.player_details()
ninja.player_details()

In [ ]:
class student:
  school="abc school"
  def __init__(self,name,age,roll_number):
    self.name=name #instance attribute
    self.age=age
    self.roll_number=roll_number
  def details(self):
    print(f"{self.name} is : {self.age} year old and studying at :{self.school}")

student1= student("ammu",21,3)
student2= student("reenu",20,7)
print(student1.school)

student.school="learn logic ai"
student1.details()

Built in class function

In [ ]:
class student:
  school="abc school"

  def __init__(self,name,age,roll_number):
    self.name=name # instance attribute
    self.age=age
    self.roll_number= roll_number

  def details(self): # method
    print(f'{self.name} is : {self.age} year old and studying at :{self.school} and roll number is :{self.roll_number}')

student1=student("anshif",21,3)
student2=student("sinan",20,7)
print(getattr(student1, "name"))

setattr(student1,"age",23)
print(student1.age)

print(hasattr(student1,"id")) # id attribute checking

delattr(student1,"age") #for delete attribute

In [ ]:
class dog:
  def __init__(self,name,age):
    self.name=name
    self.age= age

  def bark(self):
    print(f"{self.name} says: BOW! BOW!")

  def intriduce(self):
    print(f"my name is {self.name} and i am {self.age} years old ")

  def sit(self):
    print(f"{self.name} is now sitting ")

  def fetch(self, item):
    print(f"{self.name} is fetching the {item} !")

dog1=dog("janu",21)
dog2=dog("m",19)
dog1.bark()
dog2.bark()
dog1.sit()
dog1.fetch("alpham")
dog2.fetch("stick")

Create a class called Cat that models a cat with the following features:

The Cat class should have two attributes: name (the name of the cat) and color (the color of the cat). These attributes should be initialized using the constructor init.

Add the following methods to the Cat class:

meow(): This method should print a message indicating that the cat is meowing. The message should include the cat's name. purr(): This method should print a message indicating that the cat is purring. The message should include the cat's name. scratch(item): This method should simulate the cat scratching an object. The item parameter should be passed to the method, and the message should include the cat's name and the object it is scratching. sleep(): This method should print a message indicating that the cat is sleeping, and it should include the cat's name.

Create two instances of the Cat class with different names and colors.

Call each of the methods (meow(), purr(), scratch(), and sleep()) for both instances of the Cat class, passing appropriate arguments where required.

In [ ]:
class cat:
  def __init__ (self,name,colour):
    self.name=name
    self.colour=colour

  def meow(self):
    print(f"{self.name} cat is meowing....")
  def purr(self):
    print(f"{self.name} cat is purring...")
  def scratch(self,item):
    print(f"{self.name} is sratching the {item}!")
  def sleep(self):
    print(f"{self.name} cat is sleeping...")
cat1=cat("meemu","brown")
cat2=cat("tintu","white")
cat1.meow()
cat2.meow()
print()
cat1.purr()
cat2.purr()
print()
cat1.scratch("fish..")
cat2.scratch("fish..")
print()
cat1.sleep()
cat2.sleep()

# Inheritance in OOP

## Single inheritance

In [ ]:
class animal: #parent class
  def speak(self):
    print("animal speaking")
class dog(animal): #child class (inheritance)
 def bark(self):
   print("dog barking")

d=dog()
d.bark()
d.speak() #we can call class method through child class(inheritance)
a=animal()
a.speak()

In [ ]:
class vehicle:
  def start(self):
    print("vehicle is starting")
  def stop(self):
    print("vehicle is stoping")

class car(vehicle):
  def drive(self):
    print("car is being driven")

my_car =car()
my_car.start()
my_car.drive()
my_car.stop()

## Multilevel inhertiance

In [ ]:
class animal:
  def speak(self):
    print("animal speaking")

class dog(animal): #child class (inheritance)
  def bark(self):
    print("dog barking")

class dogchild(dog): #multilevel inheritance
 def eat(self):
  print("eating bread....")

d=dog()
d.bark()
d.speak()

print()

d1=dogchild() #multilevel child have all method
d1.bark()
d1.speak()
d1.eat()

In [ ]:
class star:
  def shining(self):
    print("star is shining...")
  def sparkling(self):
    print("star is sparkling...")
class smallstar(star):
  def moving(self):
    print("its moving slowly...")
class childstar(smallstar):
  def size(self):
    print("star is very small...")

s1=star()
s1.shining()
s1.sparkling()
print()
s2=smallstar()
s2.moving()
s2.shining()
print()
c1=childstar()
c1.sparkling()
c1.size()

## Hierarchial inheritance:

In [ ]:
class shape: # This is parent class
  def info(self):
    print("shapes have dimenstions...")

class circle(shape): # this child of shape
  def draw(self):
    print("drawing a circle...")

class rectangle(shape):  # this also child of shape
  def draw(self):
     print("drawing a rectangle...")

c=circle()
r=rectangle()
c.info()
r.info()
r.draw()

In [ ]:
class person :
  def introduce(self):
    print("i am a person..")

class teacher(person):
  def teach(self):
    print("i teach students..")

class student(person):
  def study(self):
    print("i study subject")

t=teacher()
t.introduce()
s=student()
s.study()

## multiple inheritance

In [ ]:
class calculation1:
  def summation(self,a,b): # parent class
   print(a+b)
class calculation2:
  def multiplication(self,a,b): # another parent class
    print(a*b)
class derived(calculation1,calculation2):# child from that both parent classes
  def divide(self,a,b):
    print(a/b)

d=derived()
d.summation(10,20)
d.multiplication(10,20)
d.divide(10,20)

## Hybrid inheritance

In [ ]:
class person:
  def show(self):
    print("i am a person")

class teacher(person):
  def teach(self):
    print("i teach students")

class staff:
  def manage(self):
    print("i manage school")

class principal(teacher,staff):
  def oversea(self):
    print("i oversea the entire school")

  # hybrid inheritenc principal inherits from both teacher and staff (single + multiple)
principal=principal()
principal.show()
principal.teach()
principal.manage()
principal.oversea()

## super( ) method

In [ ]:
class parent:
  def greet1(self):
    print("hello from parent..")
class child(parent):
  def greet2(self):
    super().greet1() #calling parent method
    print("hello from child...")
c=child()
c.greet2()

In [ ]:
class parent:
  def __init__(self,name):
    self.name=name
    print("parent constructor called..")
class child(parent):
  def __init__(self,name,age):
   super().__init__(name)
   self.age=age
   print("child counstructor called..")

child=child("greeshma",21)

# Ploymorphism ( one task can be performed in different ways. )

## 1. Method Overriding (Runtime Polymorphism)

In [ ]:
class a:
  def show(self):
    print("class a")
class b(a):
  def show(self):
    print("class b")
class c(b):
  def show(self):
    print("class c")

obj=c()
obj.show() #method overriding

In [ ]:
class a:
  def show(self):
    print("class a")
class b(a):
  def show(self):
    super().show()
    print("class b")
class c(b):
  def show(self):
    super().show()
    print("class c")

obj=c()
obj.show() #method overriding

## Method overloading

Default arguments - Providing default values to parameters.
Variable - length arguments ( * args, ** kwargs ) - Allowing a method to acccept different numbersof arguments

- Default arguments - Providing default values to parameters.

In [ ]:
class calculator:
  def add(self,a,b=0,c=0):
    print(a+b+c)

calc=calculator()
# Call the mthod with differnt numbers of arguments
calc.add(5)
calc.add(5,10)
calc.add(5,10,20)

- Variable - length arguments ( * args, ** kwargs ) - Allowing a method to acccept different numbersof arguments

*positional arguments ( args )

In [ ]:
class mathoperations:
  def add (self, *numbers):
    total=sum(numbers)
    print(f"sum:{total}")

math = mathoperations()

math.add(5)
math.add(5,10)
math.add(1,2,3,4)

**keyword arguments ( keyword )

In [ ]:
class greeting:
  def say_hello(self,**k):
    print(f"hellow {k['name']}!")
    print(f"you are {k['age']}years old!")
    print(f"you are from {k['city']}!")

g=greeting()
g.say_hello(name="greeshma",age=21,city="puthanathani")

# Encapsulation (Encapsulation is about protecting data by controlling access to it)

In [ ]:
class company:
  def __init__(self,company_name,company_id):
   self.__company_name= company_name
   self._company_id= company_id

c1=company("tcs",91)
print(c1._company_id) # we can print one underscore variable
# print(c1.__company_name)    # we can't print two underscore variable !

double underscored variable we can't acces outside of class, but we can access on the class

In [ ]:
class company:
  def __init__(self,company_name,company_id):
    self.__company_name= company_name
    self._company_id= company_id
  def get_company_name(self):
   print(self.__company_name)

c1=company("tcs",91)
c1.get_company_name()

In [ ]:
class bankaccount:
  def __init__(self,account_number,balance):
    self.__account_number= account_number
    self.__balance= balance
  def deposite(self,amount):
    if amount>0:
      self.__balance +amount
      print(f"deposited {amount}. new balance: {self.__balance}")
    else:
      print("invalid deposit error")
  def get_balance(self):
    return self.__balance

account=bankaccount("12345",1000)
account.deposite(500)
# print(account.__balance) AttributeError: 'bankaccount' object has no attribute '_bankaccount__balance'
print(account.get_balance())

In [ ]:
class bankaccount:
  def __init__(self,account_number,balance):
    self.__account_number= account_number
    self.__balance= balance
  def deposite(self,amount):
    if amount>0:
      self.__balance +=amount
      print(f"deposited {amount}. new balance: {self.__balance}")
    else:
      print("invalid deposit error")
  def withdrawal(self,amount1):
    if amount1>=1 and amount1<self.__balance:
      self.__balance -=amount1
      print(f"withdrawed {amount1}.new balance : {self.__balance}")
    else:
      print("invalid withdrawal error")
  def get_balance(self):
    return self.__balance

account=bankaccount("12345",1000)
account.deposite(500)
account.withdrawal(1499)
print("account balance is",account.get_balance())

# Abstraction

In [ ]:
from abc import ABC, abstractmethod
class vehicle(ABC): #abstract class
  @abstractmethod
  def start_engine(self):
    pass #abstract method with no implementation

  @abstractmethod
  def stop_engine(self):
    pass #abstract method with no implementation

# making child class for abstract class instantiating

class car(vehicle): # child class of vehicle
  def start_engine(self): # also we need to create same function (method) in child class  other wise it will shows error!
    print("car engine started")

  def stop_engine(self): # also we need to create same function (method) in child class  other wise it will shows error!
    print("car engine stopped")

car=car()
car.start_engine()
car.stop_engine()

In [ ]:
from abc import ABC, abstractmethod

class shape(ABC):
  @abstractmethod
  def calculate_area(self):
    pass

class circle(shape):
  def __init__(self,radius):
    self.radius=radius

  def calculate_area(self):
    print(f"circle area is : {3.14 *(self.radius)**2}")

class rectangle(shape):
  def __init__(self,width, height):
    self.width= width
    self.height= height
  def calculate_area(self):
   print(f"Rectangle area is : {self.width * self.height}")

cir = circle(10)
rect= rectangle(5,10)

cir.calculate_area()
print()
rect.calculate_area()

# class methods

( @classmethod ): This is used to define a class method, it indicates that the method is bound to the class, not to an instance.

First Parameter (cls): the first prameter of a class method is always a refernce to the class itself, typically named cls. This is similar to how instance methods have refernce to the instance ( typically names self )

In [ ]:
class car:
  wheels =4
  def __init__(self,brand,model):
    self.brand=brand
    self.model=model
  @classmethod
  def change_wheels(cls,new_wheels):
    cls.wheels= new_wheels
    print(f"the number of wheels has been updated to {cls.wheels}.")
car1= car("toyota","etios")
car.change_wheels(6)
print()
print(f"car variable updated to : {car1.wheels}")

# practice (questions)

## 1.Create an abstract class Animal with an abstract method make_sound(). Then, implement two subclasses, Dog and Cat, which override the make_sound() method to print the respective animal sounds. Instantiate both classes and call their make_sound() methods

In [ ]:
from abc import ABC ,abstractmethod
class animal(ABC):
  @abstractmethod
  def make_sound(self):
    pass
class dog(animal):
  def make_sound(self):
    print("boww boww...!")
class cat (animal):
  def make_sound(self):
    print("mewo...mewo..!")

d=dog()
c=cat()
d.make_sound()
c.make_sound()

boww boww...!
mewo...mewo..!

## 2.Create an abstract class Employee with an abstract method calculate_salary(). Implement two subclasses, FullTimeEmployee and PartTimeEmployee, which calculate salaries based on a fixed monthly salary and an hourly rate, respectively. Instantiate both classes and print their salaries.

In [ ]:
class employee:

  @abstractmethod
  def Calculate_salary(self):
    pass

class fulltime_employee(employee):
  def __init__ (self,salary):
    self.salary=salary
  def calculate_salary(self):
    print(f"salary of full time employee : {self.salary}")

class parttime_employee(employee):
 def __init__(self,salary):
  self.salary=salary
 def calculate_salary(self):
  print(f"salary of full time employee : {self.salary/2}")

f=fulltime_employee(10000)
p=parttime_employee(10000)
f.calculate_salary()
p.calculate_salary()

salary of full time employee : 10000
salary of full time employee : 5000.0

## 3.Create an abstract class Polygon with an abstract method number_of_sides(). Implement two subclasses, Triangle and Pentagon, which return the respective number of sides. Instantiate both classes and print the number of sides

In [ ]:
class polygon :

 @abstractmethod
 def number_of_sides(self):
  pass
class triangle(polygon):
  def __init__(self,side):
   self.side=side
  def number_of_sides(self):
   print(f"number of sides TRIANGLE : {self.side}")
class pentagon(polygon):
  def __init__(self,side):
   self.side=side
  def number_of_sides(self):
   print(f"number of sides PENTAGON : {self.side}")

t=triangle(3)
p=pentagon(5)
t.number_of_sides()
p.number_of_sides()

number of sides TRIANGLE : 3
number of sides PENTAGON : 5

### 1. Define a Python class Student with the following private attributes:

  __name to store the student's name.
  __marks to store the student's marks.

2. Implement the following public  getter and setter methods to access and modify these attributes securely:

set_name(name)  A method to set the student's name.
get_name()  A method to retrieve the student's name.
set_marks(marks)  A method to set the student's marks (Ensure marks cannot be negative).
get_marks()  A method to retrieve the student's marks.

3. Demonstrate the usage of the class by:

-Create an instance of the Student class.
-Setting the name of the student to "Alice" and print it using the getter method.
-Setting the marks of the student to 95 and print it using the getter method.
-Dont alow negative marks.

In [ ]:
class student :
 def __init__ (self):
  self.__name=""
  self.__marks=0


 def set_name(self,name):
  self.__name=name
 def get_name(self):
  return self.__name

 def set_marks(self,marks):
  if marks<0:
    print("error")
  else:
   self.__marks=marks
 def get_marks(self):
  return self.__marks

student1=student()
student1.set_name("Alice")
print("student name :", student1.get_name())
student1.set_marks(99)
print("student marks :", student1.get_marks())

student name : Alice
student marks : 99

## Step1 : Define a Python class Employee with the following private attribute:

__salary to store the employee's salary.A

Step 2 : Implement the following public methods to securely access and modify the salary:

-set_salary(salary)  A method to set the employee's salary (Ensure the salary is a positive value). -get_salary()  A method to retrieve the employee's current salary. -increase_salary(percentage)  A method to increase the salary by a given percentage securely and update the salary value.

Step 3 : Demonstrate the usage of the class by:

-Creating an instance of the Employee class. -Setting the salary to 50000 and printing it using the getter method. -Increasing the salary by 10% and printing the updated salary. -Dont allow negative salary , give warning message

In [ ]:
class employee:

  def __init__(self):
    self.__salary= 0
    self.__name = ""


  def set_name(self,name):
    self.__name = name

  def get_name(self):
    print(f"Employee name : {self.__name}")

  def set_salary(self,salary):
    if salary<0:
      print("Salary cannot be negative!")
    else:
      self.__salary = salary

  def get_salary(self):
    print(f"Employee {self.__name}'s salary : {self.__salary} ")


  def increase_salary(self,percentage):
   if percentage<0:
     print("percentage cannot be negative")

   else:
     increased_amount=self.__salary*(percentage/100)
     self.__salary+=increased_amount
     print(f"{self.__name}'s updated salary after {percentage}% increases is : {self.__salary}")


e=employee()
e.set_name("greeshma")
e.set_salary(50000)


e.get_name()
print()
e.get_salary()
print()
e.increase_salary(10)

Employee name : greeshma

Employee greeshma's salary : 50000

greeshma's updated salary after 10% increases is : 55000.0

# Python File Handling (x, r, a, r, w, r)

In [ ]:
# 1. CREATE a new file using 'x'
f= open("example.txt","x")
f.write("file created using x mode.\n")
f.close()

In [ ]:
# 2. READ the file using 'r'
f= open("example.txt","r")
print("after creation (r mode):")
print(f.read())
f.close()

after creation (r mode):
file created using x mode.

In [ ]:
# 3. APPEND using 'a'
f= open("example.txt","a")
f.write("this line is added using append mode.\n")
f.close()

In [ ]:
# 4. READ again to confirm append
f= open("example.txt","r")
print("afternappend(r mode):")
print(f.read())
f.close()

afternappend(r mode):
file created using x mode.
this line is added using append mode.

In [ ]:
# 5. WRITE using 'w' (overwrite file)
f =open("example.txt","w")
f.write("content overwritten using write mode.\n")
f.close()

In [ ]:
# 6. READ again to confirm overwrite
f =open("example.txt","r")
print("after write (r mode) :")
print(f.read())
f.close()

after write (r mode) :
content overwritten using write mode.

## File Handling Using ONLY with open()

In [ ]:
# 1. CREATE a new file using 'x'
with open("example1.txt","x") as f:
  f.write("file created using x mode.\n")

In [ ]:
# 2. READ the file using 'r'
with open("example1.txt","r")as f:
  print(f.read())

file created using x mode.

In [ ]:
# 3. APPEND using 'a'
with open("example1.txt","a") as f:
  f.write("this line is added using append mode.\n")

In [ ]:
# 4. READ again to confirm append
with open("example1.txt","r") as f:
  print(f.read())

file created using x mode.

In [ ]:
# 5. WRITE using 'w' (overwrite file)
with open("example1.txt","w") as f:
  f.write("content overwritten using write mode.\n")

In [ ]:
# 6. READ again to confirm overwrite
with open("example1.txt","r") as f:
  print(f.read())

content overwritten using write mode.

# Threading

## basic thread

In [ ]:
import threading #basic thread
def task():
  print("Thread running")

thread=threading.Thread(target=task)
thread.start()
thread.join()

Thread running

## multiple threads

In [ ]:
import threading #multiple threads
def task1():
  print("task 1")
def task2():
  print("task 2")

t1= threading.Thread(target=task1)
t2= threading.Thread(target=task2)

t1.start()
t2.start()

t1.join()
t2.join()

task 1
task 2

In [ ]:
import threading
def print_numbers():
  for i in range(5):
    print(i)

thread= threading.Thread(target=print_numbers)
thread.start()
thread.join()

0
1
2
3
4

In [ ]:
import threading
import time
def download_file(file):
  print(f"downloading{file}...")
  time.sleep(2)
  print(f"{file}downloaded.")

files=["file1.txt","file2.txt","file3.txt"]
threads=[threading.Thread(target=download_file,args=(f,))for f in files]
for t in threads:
  t.start()
for t in threads:
  t.join()

downloadingfile1.txt...
downloadingfile2.txt...
downloadingfile3.txt...
file1.txtdownloaded.
file2.txtdownloaded.
file3.txtdownloaded.

## Using Threads with Arguments

In [ ]:
import threading
def greet(name):
  print(f"hello,{name}!")

thread=threading.Thread(target=greet, args=("alice",))
thread.start()
thread.join()

hello,alice!

## two threading

In [ ]:
import threading
import time

# Function for the chef's work (Thread 1)
def chef_work():
  for i in range(5): # Chef prepares 5 dishes
    print(f"chef preparing dish{i+1}...")
    time.sleep(2)# Simulate time taken to prepare a dish
    if i==2: # Assistant starts washing utensils during the 3rd dish
       print("chef: calling assistant to wash utensils.")
       time.sleep(1)  # Simulate time taken to call the assistant
       assistant_thread=threading.Thread(target=assistant_work)
       assistant_thread.start()
       assistant_thread.join()   # Wait for the assistant to finish
       print("chef:assistant done .resuming dish preparation.")
  print("chef:all dishes are prepared.")

# Function for the assistant's work (Thread 2)
def assistant_work():
  for j in range(3):  # Assistant washes 3 utensils
     print(f" assistant: washing utensil {j+1}...")
     time.sleep(2) # Simulate time taken to wash each utensil
  print("assistant:all utensil are clean.")

print("kitchen : starting work.")
chef_thread= threading.Thread(target=chef_work)
chef_thread.start()
chef_thread.join() # Wait for the chef to complete their work
print("kitchen : all work completed.")

kitchen : starting work.
chef preparing dish1...
chef preparing dish2...
chef preparing dish3...
chef: calling assistant to wash utensils.
 assistant: washing utensil 1...
 assistant: washing utensil 2...
 assistant: washing utensil 3...
assistant:all utensil are clean.
chef:assistant done .resuming dish preparation.
chef preparing dish4...
chef preparing dish5...
chef:all dishes are prepared.
kitchen : all work completed.

### Question
Write a Python program using threading to simulate music playback and lyrics downloading:

Music playback runs in one thread for 5 seconds, printing a message each second.
During the 3rd second, a separate thread starts to simulate downloading lyrics, which takes 3 seconds.
Ensure the music playback waits for the lyrics to finish downloading before continuing.

**Output**

Music Player: Starting music playback.
Music Player: Playing music... 1 seconds
Music Player: Playing music... 2 seconds
Music Player: Playing music... 3 seconds
Music Player: Downloading lyrics in the background.
  Downloading lyrics... 1 seconds
  Downloading lyrics... 2 seconds
  Downloading lyrics... 3 seconds
  Lyrics download completed.
Music Player: Lyrics downloaded.
Music Player: Playing music... 4 seconds
Music Player: Playing music... 5 seconds
Music Player: Playback ended

In [ ]:
import threading
import time

def music_playback():
  for i in range(5):
    print(f"music player : playing music...{i+1} seconds")
    time.sleep(1)
    if i==2:
      print("Music Player: Downloading lyrics in the background.")
      time.sleep(1)
      lyrics_thread=threading.Thread(target=lyrics_downloading)
      lyrics_thread.start()
      lyrics_thread.join()


def lyrics_downloading():
  for j in range(3):
    print(f" Downloading lyrics... {j+1} seconds")
    time.sleep(1)
  print(" Lyrics download completed.")
  print("Music Player: Lyrics downloaded.")
print("Music Player: Starting music playback.")
music_thread=threading.Thread(target=music_playback)
music_thread.start()
music_thread.join()
print("Music Player: Playback ended")

Music Player: Starting music playback.
music player : playing music...1 seconds
music player : playing music...2 seconds
music player : playing music...3 seconds
Music Player: Downloading lyrics in the background.
 Downloading lyrics... 1 seconds
 Downloading lyrics... 2 seconds
 Downloading lyrics... 3 seconds
 Lyrics download completed.
Music Player: Lyrics downloaded.
music player : playing music...4 seconds
music player : playing music...5 seconds
Music Player: Playback ended

# Exception Handling

(Exeptions are runtime errros that occur during program execution, disrupting the normal flow of a program)

In [ ]:
try:
  num=int(input("enter a number: "))
  result=10/num
except zerodivisionError:
  print("cannot divided by zero!")
except valueError:
  print("please enter valid number")
else:
  print("division successful! Result:",result)
finally:
  print("this block always run")

enter a number: 6
division successful! Result: 1.6666666666666667
this block always run

## Else and Finally Blocks

In [ ]:
try:
  result =10/2
except ZeroDivisionError:
  print("Error")
else:
  print("Result:", result)

## Finally Block:
Always runs, regardlesss of whether an exception occurred
Useful for cleanup (ef, closing files

In [ ]:
 try:
  file_=open("data.txt","r")
except FileNotFoundError:
  print("File not found!")
finally:
  print("End of program.")

File not found!
End of program.

## Raise Exception

In [ ]:
try:
  age= int(input("enter your age:"))

  if age<0:
    raise ValueError("age cannot be negative")
  else:
    print(f"your age is {age}")
except ValueError as e:
  print(e)
print("try except finished")

enter your age:9
your age is 9
try except finished

## Custom Exceptions

In [ ]:
class InvalidAgeException(Exception):
  "raised when the input value is less than 18"
  pass
number=18
try:
  input_num=int(input("Enter a number:  "))
  if input_num<number:
    raise InvalidAgeException

  else:
    print("Eligible to vote")

except InvalidAgeException:
  print("Exception occurred : invalid Age ")

Enter a number:  9
Exception occurred : invalid Age

##Questions

### 1. Handle ZeroDivisionError
Write a program that asks the user for two numbers and prints their division.
If the user enters zero as the second number, handle the exception and print a message

In [ ]:
try:
    a = int(input("Enter first number: "))
    b = int(input("Enter second number: "))

    if b == 0:
        raise ZeroDivisionError

    division = a / b
    print("Result is:", division)

except ZeroDivisionError:
    print("ZeroDivisionError occurred: input value cannot be zero")

Enter first number: 8
Enter second number: 0
ZeroDivisionError occurred: input value cannot be zero

### 2. Handle ValueError for Input
Ask the user to enter an integer.
If the user enters something else (like text), catch the ValueError and print Invalid input

In [ ]:
try:
  a=int(input("Enter an integer"))
except ValueError:
  print("please enter valid number")

Enter an integerh
please enter valid number

### 3. List Index Error
Create a list of 5 elements.
Ask the user to enter an index and display the element.
Handle IndexError if the index is out of range.

In [ ]:
my_list=[20,30,40,22,44]
try:
  i=int(input("enter an index(0-4)"))
  print("element in the index is",my_list[i])
except IndexError:
 print("please enter valid index")

enter an index(0-4)3
element in the index is 22

### 4. Multiple Exception Handling
Write a program that:

takes two inputs

converts them into integers

divides them

Handle:

ValueError

ZeroDivisionError

any other exception

In [ ]:
try:
  a=int(input("enter first value :"))
  b=int(input("enter second value :"))
  divide=a/b
  print("result is",divide)
except ValueError:
  print(" value error occurs :enter correct value")
except ZeroDivisionError:
  print("zerodivitionerror occurs : enter non zero value")

enter first value :8
enter second value :0
zerodivitionerror occurs : enter non zero value

### 5. File Opening Error
Ask the user for a filename and try to open it.
If the file doesnt exist, catch FileNotFoundError

In [ ]:
try:
  file1=open("index.txt","r")
  print("your file is",file1)
except FileNotFoundError:
  print("file is not found")

file is not found

### 6. Write a Python program to create a file data.txt

In [ ]:
  file=open("data.txt","x")
  file.write("this file for creating ")
  file.close()
  print("file created successfully")

file created successfully

# Iterator

In [ ]:
mytuple=("apple","banana","cherry")
myit=iter(mytuple)
print(next(myit))
print(next(myit))
print(next(myit))

apple
banana
cherry

In [ ]:
mystr="apple"
myit=iter(mystr)
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))

a
p
p
l
e

In [ ]:
mytuple=("apple","banana","cherry")
for x in mytuple:
  print(x)

apple
banana
cherry

In [ ]:
class Mynumbers:
  def __iter__(self):
     self.a=1
     return self

  def __next__(self):
     x=self.a
     self.a+=1
     return x

myclass=Mynumbers()
myiter=iter(myclass)

print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))

1
2
3
4
5

# Generator (function that yield value one by one passing after each yield)

In [ ]:
def greeting():

  print("Hi")
  yield 1

  print("how are you ?")
  yield 2

  print("Are you there ?")
  yield 3

greet=greeting()
print(next(greet))

print(next(greet))

print(next(greet))

Hi
1
how are you ?
2
Are you there ?
3

#RegEx Functions

## importing the module

In [ ]:
import re

## search for a pattern

In [ ]:
import re
text ="my number is 12345"
match =re.search(r"\d+",text)
print(match.group())

12345

## findall matches

In [ ]:
import re
text =" car ,cat,cap"
matches=re.findall(r"ca.",text)
print(matches)

['car', 'cat', 'cap']

## Replace text

In [ ]:
import re
text ="I love apples"
new=re.sub(r"apples","oranges",text)
print(new)

I love oranges

## split using RegEx

In [ ]:
import re
text ="one,two;three four"
parts=re.split(r"[,\s;]+",text)
print(parts)

['one', 'two', 'three', 'four']

## Match object

In [ ]:
import re
txt="The rain in spain"
x= re.search("ai",txt)
print(x)

<re.Match object; span=(5, 7), match='ai'>